* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: PingFang SC Medium, PingFang SC Medium-Medium;
}

html, body, #root {
	background-color: #F7F5F3 !important;
	color: rgba(0, 0, 0, 0.85);
}

#root {
	width: 100%;
}

.body {
	width: 1400px;
	margin: 0 auto;
}

.logo {
	font-size: 90px;
	cursor: pointer;
}

.ant-layout {
	width: 100%;
}

.ant-layout-header {
	background-color: #fff !important;
	padding: 0px 30px 0 260px !important;
	height: 90px !important;
	min-width: 1400px;
}

.app-menu {
	font-size: 18px;
	float: right;
	color: #333;
	line-height: 90px;
}

.app-menu .app-menu-span {
	margin-left: 50px;
	cursor: pointer;
}

.app-menu .active-menu {
	color: #FF603B;
}

.ant-layout-footer {
	width: 100%;
	background: url(/img/footer.png);
	background-repeat: no-repeat; 
	background-size: cover; 
	padding: 0px 50px !important;
	height: 240px;
	font-size: 18px;
	line-height: 240px;
	color: #9DAFC4;
}

.ant-layout-footer p {
	padding: 0px;
	display: inline-block;
	margin-right: 200px;
}

.ant-layout-footer span {
	margin-right: 50px;
	cursor: pointer;
}









.c-min-banner {
  height: 300px;
  width: 100%;
  background: url(/img/min_banner.png);
  background-repeat: no-repeat;
  background-size: 100% 300px;
  font-size: 40px;
  color: #222;
  padding-top: 92px;
  text-align: center;
}

.c-min-banner div {
	width: 1400px;
	text-align: center;
	margin: 0 auto;
}

.c-tab {
	height: 94px;
	font-size: 18px;
	color: #000;
	padding-top: 40px;
}

.c-tab span {
	display: inline-block;
	margin-right: 50px;
	cursor: pointer;
}

.c-tab .c-active-tab {
	color: #FF603B;
	border-bottom: 2px solid #FF603B;
}


.ant-pagination {
	text-align: right;
}


.ant-pagination-item {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	border: 1px solid #B7B7B7;
	color: #B7B7B7;
	background-color: transparent !important;
}

.ant-pagination-prev, .ant-pagination-next {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	border: 1px solid #222;
	color: #222;
	background-color: transparent !important;
}

.ant-pagination-item button, .ant-pagination-prev button, .ant-pagination-next button {
	background-color: transparent !important;
}

.ant-pagination-item-active {
	color: #FF603B !important;
	border: 1px solid #FF603B !important;
}

.ant-pagination-disabled {
	color: #f1f1f1 !important;
	border: 1px solid #f1f1f1 !important;
}

.back-to-top {
	font-size: 60px;
	cursor: pointer;
	float: right;
	vertical-align: top;
	margin-top: 90px;
	color: #000;
}



.c-video-loading {
	width: 1400px;
	height: 788px;
	text-align: center;
	font-size: 50px;
	color: rgba(0, 0, 0, 0.55);
	padding-top: 350px;
}

.c-video-loading .c-video-loading-newwork {
	font-size: 20px;
	margin-top: 20px;
}

@keyframes rotate{
    from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
}

.c-video-loading-icon {
    animation: rotate 1s linear infinite;
}

.video-player-box {
	width: 1400px;
	height: 788px;
	position: relative;
}

.video-player {
	width: 1400px;
	height: 788px;
	position: absolute;
	top: 0px;
	left: 0px;
}



.c-select {
	height: 36px;
	width: 100px;
	line-height: 36px;
	position: relative;
	display: inline-block;
	float: right;
	top: 26px;
	margin-left: 50px;
}

.c-select-value {
	height: 36px;
	width: 120px;
	cursor: pointer;
	color: #FF603B;
}

.c-select-icon {
	font-size: 18px;
	color: #000;
	margin-right: 7px;
	position: relative;
	top: 2px;
}

.c-select-value-text {
	font-size: 18px;
	color: #FF603B;
}

.c-select-option {
	position: absolute;
	top: 36px;
	left: 1px;
	background-color: #2D2D2D;
	width: 116px;
	color: #fff;
	font-size: 16px;
}

.c-select-option-item {
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	cursor: pointer;
}

.c-select-option-item:hover {
	background-color: #FF603B;
}

.c-select-icon-toggle {
	color: #333;
	font-size: 16px;
	margin-left: 6px;
}