* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: PingFang SC Medium, PingFang SC Medium-Medium;
}

html, body, #root {
	background-color: #F7F5F3 !important;
	color: rgba(0, 0, 0, 0.85);
}

#root {
	width: 100%;
}

.body {
	width: 1400px;
	margin: 0 auto;
}

.logo {
	font-size: 90px;
}

.ant-layout {
	width: 100%;
}

.ant-layout-header {
	background-color: #fff !important;
	padding: 0px 30px 0 260px !important;
	height: 90px !important;
}

.app-menu {
	font-size: 18px;
	float: right;
	color: #333;
	line-height: 90px;
}

.app-menu span {
	margin-left: 50px;
	cursor: pointer;
}

.app-menu .active-menu {
	color: #FF603B;
}

.ant-layout-footer {
	width: 100%;
	background: url(/img/footer.png);
	background-repeat: no-repeat; 
	background-size: cover; 
	padding: 0px 50px !important;
	height: 240px;
	font-size: 18px;
	line-height: 240px;
	color: #9DAFC4;
}

.ant-layout-footer p {
	padding: 0px;
	display: inline-block;
	margin-right: 200px;
}

.ant-layout-footer span {
	margin-right: 50px;
	cursor: pointer;
}









.c-min-banner {
  height: 300px;
  width: 100%;
  background: url(/img/min_banner.png);
  background-repeat: no-repeat;
  background-size: 100% 300px;
  font-size: 40px;
  color: #222;
  padding-top: 92px;
  text-align: center;
}

.c-min-banner p {
	margin: 0 0 5px 0;
}






.c-tab {
	height: 94px;
	font-size: 18px;
	color: #000;
	padding-top: 40px;
}

.c-tab span {
	display: inline-block;
	margin-right: 50px;
	cursor: pointer;
}

.c-tab .c-active-tab {
	color: #FF603B;
	border-bottom: 2px solid #FF603B;
}


.ant-pagination {
	text-align: right;
}


.ant-pagination-item {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	border: 1px solid #B7B7B7;
	color: #B7B7B7;
	background-color: transparent !important;
}

.ant-pagination-prev, .ant-pagination-next {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	border: 1px solid #222;
	color: #222;
	background-color: transparent !important;
}

.ant-pagination-item button, .ant-pagination-prev button, .ant-pagination-next button {
	background-color: transparent !important;
}

.ant-pagination-item-active {
	color: #FF603B !important;
	border: 1px solid #FF603B !important;
}

.ant-pagination-disabled {
	color: #f1f1f1 !important;
	border: 1px solid #f1f1f1 !important;
}